on boot

    # Set permission for VIIM node
    symlink /dev/mxs_viim /dev/mxc_mem

    # Define 3D acceleration property
    setprop debug.sf.showfps    0
    setprop debug.sf.enable_hgl 0
    setprop debug.egl.hw        0
    
    # Set OpenGLES version 
    setprop ro.opengles.version 65536

    # Set eink power enable
    setprop ro.FSL_EINK_POWER 1
    setprop ro.FSL_REMOVE_KEYGUARD 1

    # fsl omx graphic manager media framework property
    setprop media.omxgm.enable-player 1
    setprop media.omxgm.enable-record 0
    setprop media.omxgm.enable-scan 0
 
    # set video render type
    setprop rw.VIDEO_RENDER_NAME video_render.overlay

    # Set rotation to 270 to cofigure as portrait mode
    setprop ro.sf.hwrotation 270

service wpa_supplicant /system/bin/wlan_tool wpa_supplicant
    socket wpa_wlan0 dgram 660 root wifi
    disabled
    oneshot

service wlan_tool /system/bin/wlan_tool
    oneshot

on fs
#mount fat32 partitions
#    mount vfat /dev/block/mmcblk0p1 /mnt/sdcard nosuid nodev
# mount ext4 partitions
    mount ext4 /dev/block/mmcblk0p2 /system
    mount ext4 /dev/block/mmcblk0p2 /system rw remount
    mount ext4 /dev/block/mmcblk0p5 /data nosuid nodev nodelalloc
    mount ext4 /dev/block/mmcblk0p6 /cache nosuid nodev
